.grid-container{
  display: grid;
  grid:
    "picture11 picture13 picture5 picture7" auto /* Row 1 */
    "picture1 picture4 picture12 picture2" auto /* Row 2 */
    "picture6 picture10 picture8 picture9" auto /* Row 3 */
    ;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr 1fr;
    width: fit-content;
}

.picture1{
  grid-area: picture1;
}
.picture2{
  grid-area: picture2;
}
.picture3{
  border: red solid 2px;
  justify-self: start;
  display: none;
}
.picture4{
  grid-area: picture4;
}
.picture5{
  grid-area: picture5;
}
.picture6{
  grid-area: picture6;
}
.picture7{
  grid-area: picture7;
}
.picture8{
  grid-area: picture8;
}
.picture9{
  grid-area: picture9;
}
.picture10{
  grid-area: picture10;
}
.picture11{
  grid-area: picture11;
}
.picture12{
  grid-area: picture12;
}
.picture13{
  grid-area: picture13;
}
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}