
table{
  border-collapse: collapse;
}
tr:last-child{
  font-weight: bolder;
  background-color: rgba(128, 128, 128, 0.288);

}
tr{
  color: rgb(255, 255, 255);
}
div{
  border: 1px solid rgb(0, 0, 0);
  width: fit-content;
  background-color: rgb(182, 169, 169);
}
tr,td,th{
  padding: 7px 30px 7px 10px;
  border: 1px solid rgb(0, 0, 0);
  
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
td:nth-child(1),th:nth-child(1){
  background-color: rgba(128, 128, 128, 0.288);
}
tr:first-child{
  background-color: rgba(255, 0, 0, 0.144);
}