table{
  border-collapse: collapse;
 }
tr:last-child{
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.055);

}
tr{
  color: rgb(0, 0, 0);
}

tr,td,th{
  padding: 7px 30px 7px 10px;
  border: 1px solid rgb(0, 0, 0);
  
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
td:nth-child(1){
  background-color: rgb(220, 255, 221);
}
tr:first-child{
  background-color: rgba(0, 119, 255, 0.349);
}
.total{
  background-color: rgb(255, 255, 230);
}