table{
  border-collapse: collapse;
  background-color: rgb(54, 54, 105);
 }
tr:last-child{
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.055);

}
tr{
  color: rgb(0, 0, 0);
}

tr,td,th{
  padding: 7px 30px 7px 10px;
  border: 1px solid rgb(0, 0, 0);
  color: white;
  border-color: white;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}

.last-row td{
  border-color: rgb(0, 241, 0);
  border-width: 2px;
}